<div>

<div class="d-flex flex-row  m-4 justify-content-between">
  <img src="assets/logo.svg" >
  <h2 style="color: #bd6246;"><b>Socket IO Client</b></h2>
</div>
  <div class="row">
    <div class="w-50">
    <div class="row m-2"><input class="mr-2 ml-2" type="text" placeholder="url" [(ngModel)]="url">
      <input class="mr-2 ml-2" type="text" placeholder="token" [(ngModel)]="token">
      <button class="mr-2 ml-2" (click)="connect()">Connect</button>
      <button (click)="close()">Close</button>
    </div>
      <div class="row m-2">
        <div class="mr-2 ml-2"> <select [(ngModel)]="message.broadcastType">
          <option *ngFor="let t of broadcastTypes">{{t}}</option>
        </select></div>
      </div>
      <div class="row m-2"> <textarea class="mr-2 ml-2" [(ngModel)]="message.message" rows="4" cols="25"></textarea></div>
    <!-- <label for="checkbox1">Transport websocket</label> -->
    <div class="row m-2">  <button class="mr-2 ml-2" (click)="send()">Send</button></div>
   
  </div>
  <div class="" id="output">

  </div>
  </div>
</div>