/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.p-2{
    padding: 2rem;
}
.m-2{
    margin: 2rem;
}
.mr-2{
    margin-right: 2rem;
}
.ml-2{
    margin-left: 2rem;
}
.mt-2{
    margin-top: 2rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.p-4{
    padding: 4rem;
}
.m-4{
    margin: 4rem;
}

.row{
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-right: 0;
}

.column{
    display: flex;
    flex-direction: column;
}

.w-50{
    width: 50%;
}